interactions:
- request:
    body: '{"TableName": "querytablefb4a193b"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 10 Nov 2017 02:47:35 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/Tables(''querytablefb4a193b'')']
      Location: ['https://storagename.table.core.windows.net/Tables(''querytablefb4a193b'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: '--batch_823d4d7c-c5c1-11e7-8f88-a08cfdf04b77

      Content-Type: multipart/mixed; boundary=changeset_823d61d4-c5c1-11e7-be52-a08cfdf04b77


      --changeset_823d61d4-c5c1-11e7-be52-a08cfdf04b77

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /querytablefb4a193b HTTP/1.1

      Content-ID: 1

      Content-Type: application/json

      Accept: application/json;odata=minimalmetadata

      Prefer: return-no-content

      Content-Length: 556


      {"PartitionKey": "pkfb4a193b", "RowKey": "rkfb4a193b1", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "optional":
      null, "ratio": 3.1, "evenratio": 3.0, "large": "933311100", "large@odata.type":
      "Edm.Int64", "Birthday": "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime",
      "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type": "Edm.DateTime", "binary":
      "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}


      --changeset_823d61d4-c5c1-11e7-be52-a08cfdf04b77

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /querytablefb4a193b HTTP/1.1

      Content-ID: 2

      Content-Type: application/json

      Accept: application/json;odata=minimalmetadata

      Prefer: return-no-content

      Content-Length: 557


      {"PartitionKey": "pkfb4a193b", "RowKey": "rkfb4a193b12", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "marri[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 10 Nov 2017 02:47:36 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/querytablefb4a193b()
  response:
    body: {string: '{"value":[{"PartitionKey":"pkfb4a193b","RowKey":"rkfb4a193b1","Timestamp":"2017-11-10T02:47:36.1030313Z","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large":"933311100","Birthday":"1973-10-04T00:00:00Z","birthday":"1970-10-04T00:00:00Z","binary":"YmluYXJ5","other":20,"clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"},{"PartitionKey":"pkfb4a193b","RowKey":"rkfb4a193b12","Timestamp":"2017-11-10T02:47:36.1030313Z","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large":"933311100","Birthday":"1973-10-04T00:00:00Z","birthday":"1970-10-04T00:00:00Z","binary":"YmluYXJ5","other":20,"clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}]}'}
    headers:
      Content-Type: [application/json;odata=nometadata;streaming=true;charset=utf-8]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
