interactions:
- request:
    body: '{"TableName": "querytablec12a1338"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 10 Nov 2017 02:47:39 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/Tables(''querytablec12a1338'')']
      Location: ['https://storagename.table.core.windows.net/Tables(''querytablec12a1338'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: '--batch_843a55e9-c5c1-11e7-8f4d-a08cfdf04b77

      Content-Type: multipart/mixed; boundary=changeset_843a55ea-c5c1-11e7-83f5-a08cfdf04b77


      --changeset_843a55ea-c5c1-11e7-83f5-a08cfdf04b77

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /querytablec12a1338 HTTP/1.1

      Content-ID: 1

      Content-Type: application/json

      Accept: application/json;odata=minimalmetadata

      Prefer: return-no-content

      Content-Length: 556


      {"PartitionKey": "pkc12a1338", "RowKey": "rkc12a13381", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "optional":
      null, "ratio": 3.1, "evenratio": 3.0, "large": "933311100", "large@odata.type":
      "Edm.Int64", "Birthday": "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime",
      "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type": "Edm.DateTime", "binary":
      "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}


      --changeset_843a55ea-c5c1-11e7-83f5-a08cfdf04b77

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /querytablec12a1338 HTTP/1.1

      Content-ID: 2

      Content-Type: application/json

      Accept: application/json;odata=minimalmetadata

      Prefer: return-no-content

      Content-Length: 557


      {"PartitionKey": "pkc12a1338", "RowKey": "rkc12a133812", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "marri[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 10 Nov 2017 02:47:39 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/querytablec12a1338()?%24top=2
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#querytablec12a1338","value":[{"odata.etag":"W/\"datetime''2017-11-10T02%3A47%3A39.4488365Z''\"","PartitionKey":"pkc12a1338","RowKey":"rkc12a13381","Timestamp":"2017-11-10T02:47:39.4488365Z","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"},{"odata.etag":"W/\"datetime''2017-11-10T02%3A47%3A39.4488365Z''\"","PartitionKey":"pkc12a1338","RowKey":"rkc12a133812","Timestamp":"2017-11-10T02:47:39.4488365Z","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}]}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      x-ms-continuation-NextPartitionKey: [1!16!cGtjMTJhMTMzOA--]
      x-ms-continuation-NextRowKey: [1!20!cmtjMTJhMTMzODEyMw--]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
