interactions:
- request:
    body: '{"TableName": "EncryptionTableOps65551665"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 10 Nov 2017 02:44:33 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/Tables(''EncryptionTableOps65551665'')']
      Location: ['https://storagename.table.core.windows.net/Tables(''EncryptionTableOps65551665'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 10 Nov 2017 02:44:33 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/Tables('EncryptionTableOps65551665')
  response:
    body: {string: '{"TableName":"EncryptionTableOps65551665"}'}
    headers:
      Content-Type: [application/json;odata=nometadata;streaming=true;charset=utf-8]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 10 Nov 2017 02:44:33 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: '{"value":[{"TableName":"EncryptionTableOps65551665"},{"TableName":"table01195b113b204be595f426a2aec78bf6"},{"TableName":"tablede242129942d48a9a6c8fb95a1e0b702"},{"TableName":"uttable147696b0a84b4d129b92e01c32d61e2c"},{"TableName":"uttable260bee0fc9364a258a7b0d2c231adc7e"},{"TableName":"uttable456c2ab55d594c22b2983a86a886aa40"},{"TableName":"uttable51401595465842d9a5c7d0cd6c3286d9"},{"TableName":"uttable65551665"},{"TableName":"uttable705d1801cf5b414d8c94334c5972a879"},{"TableName":"uttablec9b0fccf789f494585f62f02cdc97b39"},{"TableName":"uttablee4cf9e5f2fe2453f9633da94847caf30"}]}'}
    headers:
      Content-Type: [application/json;odata=nometadata;streaming=true;charset=utf-8]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 10 Nov 2017 02:44:33 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/EncryptionTableOps65551665?comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers\
        \ />"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>samplePolicy</Id><AccessPolicy><Expiry>2017-09-09T00:00:00Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 10 Nov 2017 02:44:34 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.table.core.windows.net/EncryptionTableOps65551665?comp=acl
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 10 Nov 2017 02:44:34 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/Tables('EncryptionTableOps65551665')
  response:
    body: {string: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:fcac0cfe-0002-0038-55cd-59e223000000\nTime:2017-11-10T02:44:34.3181228Z"}}}'}
    headers:
      Content-Type: [application/json;odata=nometadata;streaming=true;charset=utf-8]
      x-ms-version: ['2017-04-17']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 10 Nov 2017 02:44:34 GMT']
      x-ms-version: ['2017-04-17']
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('EncryptionTableOps65551665')
  response:
    body: {string: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:fcac0d17-0002-0038-6dcd-59e223000000\nTime:2017-11-10T02:44:34.4202195Z"}}}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      x-ms-version: ['2017-04-17']
    status: {code: 404, message: Not Found}
version: 1
