interactions:
- request:
    body: '{"PartitionKey": "pk25131537", "RowKey": "rk25131537", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "WjDPIKn56tO4qFzPkjYstQ==", "sex@odata.type": "Edm.Binary",
      "name": "LRyDpL8/kj3FepqPmNEOzA==", "name@odata.type": "Edm.Binary", "married":
      true, "deceased": false, "optional": null, "evenratio": 3.0, "ratio": 3.1, "large":
      "933311100", "large@odata.type": "Edm.Int64", "Birthday": "1973-10-04T00:00:00Z",
      "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other":
      20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid",
      "_ClientEncryptionMetadata2": "ShyiK2rKeLetQU/93XwAJw==", "_ClientEncryptionMetadata2@odata.type":
      "Edm.Binary", "_ClientEncryptionMetadata1": "{\"WrappedContentKey\": {\"KeyId\":
      \"key1\", \"EncryptedKey\": \"AXiElqe3erld+y33fuPhGgb7EF//g5mgvF70fZD0/Oj93HaCaXDySA==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"SmxgcRHnyze90lxWjQ77sA==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.37.0\"}}"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Tue, 03 Oct 2017 18:56:02 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttable25131537
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttable25131537(PartitionKey=''pk25131537'',RowKey=''rk25131537'')']
      ETag: [W/"datetime'2017-10-03T18%3A56%3A02.6063686Z'"]
      Location: ['https://storagename.table.core.windows.net/uttable25131537(PartitionKey=''pk25131537'',RowKey=''rk25131537'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 03 Oct 2017 18:56:02 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttable25131537(PartitionKey='pk25131537',RowKey='rk25131537')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable25131537/@Element","odata.etag":"W/\"datetime''2017-10-03T18%3A56%3A02.6063686Z''\"","PartitionKey":"pk25131537","RowKey":"rk25131537","Timestamp":"2017-10-03T18:56:02.6063686Z","age@odata.type":"Edm.Int64","age":"39","sex@odata.type":"Edm.Binary","sex":"WjDPIKn56tO4qFzPkjYstQ==","name@odata.type":"Edm.Binary","name":"LRyDpL8/kj3FepqPmNEOzA==","married":true,"deceased":false,"evenratio":3.0,"ratio":3.1,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","_ClientEncryptionMetadata2@odata.type":"Edm.Binary","_ClientEncryptionMetadata2":"ShyiK2rKeLetQU/93XwAJw==","_ClientEncryptionMetadata1":"{\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"AXiElqe3erld+y33fuPhGgb7EF//g5mgvF70fZD0/Oj93HaCaXDySA==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"SmxgcRHnyze90lxWjQ77sA==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 0.37.0\"}}"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-10-03T18%3A56%3A02.6063686Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
