interactions:
- request:
    body: !!python/unicode '{"PartitionKey": "pkac7612b8", "Description": "\ua015",
      "RowKey": "rkac7612b8"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Tue, 26 Sep 2017 08:35:09 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttableac7612b8
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/uttableac7612b8(PartitionKey=''pkac7612b8'',RowKey=''rkac7612b8'')']
      etag: [W/"datetime'2017-09-26T08%3A35%3A09.9097197Z'"]
      location: ['https://storagename.table.core.windows.net/uttableac7612b8(PartitionKey=''pkac7612b8'',RowKey=''rkac7612b8'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 26 Sep 2017 08:35:10 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttableac7612b8()?%24filter=PartitionKey+eq+%27pkac7612b8%27
  response:
    body: {string: !!python/unicode '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttableac7612b8","value":[{"odata.etag":"W/\"datetime''2017-09-26T08%3A35%3A09.9097197Z''\"","PartitionKey":"pkac7612b8","RowKey":"rkac7612b8","Timestamp":"2017-09-26T08:35:09.9097197Z","Description":"\ua015"},{"odata.etag":"W/\"datetime''2017-09-26T08%3A35%3A10.0217203Z''\"","PartitionKey":"pkac7612b8","RowKey":"test2","Timestamp":"2017-09-26T08:35:10.0217203Z","Description":"\ua015"}]}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
