interactions:
- request:
    body: '--batch_f673eb67-c5c0-11e7-bbea-a08cfdf04b77

      Content-Type: multipart/mixed; boundary=changeset_f673eb68-c5c0-11e7-b790-a08cfdf04b77


      --changeset_f673eb68-c5c0-11e7-b790-a08cfdf04b77

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /tablef0c20dcc HTTP/1.1

      Content-ID: 1

      Content-Type: application/json

      Accept: application/json;odata=minimalmetadata

      Prefer: return-no-content

      Content-Length: 255


      {"PartitionKey": "001", "RowKey": "batch_insert", "test": "true", "test2": "value",
      "test3": "3", "test3@odata.type": "Edm.Int64", "test4": "1234567890", "test4@odata.type":
      "Edm.Int64", "test5": "2017-11-10T02:43:41Z", "test5@odata.type": "Edm.DateTime"}


      --changeset_f673eb68-c5c0-11e7-b790-a08cfdf04b77--

      --batch_f673eb67-c5c0-11e7-bbea-a08cfdf04b77--'
    headers:
      Content-Type: [multipart/mixed; boundary=batch_f673eb67-c5c0-11e7-bbea-a08cfdf04b77]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 10 Nov 2017 02:43:41 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body: {string: "--batchresponse_e00cadc4-6893-41f0-8a2f-88357e7fcc12\r\nContent-Type:\
        \ multipart/mixed; boundary=changesetresponse_a40d7aec-c3b3-4d46-a2b6-6829e5d8c201\r\
        \n\r\n--changesetresponse_a40d7aec-c3b3-4d46-a2b6-6829e5d8c201\r\nContent-Type:\
        \ application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204\
        \ No Content\r\nContent-ID: 1\r\nX-Content-Type-Options: nosniff\r\nCache-Control:\
        \ no-cache\r\nPreference-Applied: return-no-content\r\nDataServiceVersion:\
        \ 3.0;\r\nLocation: https://storagename.table.core.windows.net/tablef0c20dcc(PartitionKey='001',RowKey='batch_insert')\r\
        \nDataServiceId: https://storagename.table.core.windows.net/tablef0c20dcc(PartitionKey='001',RowKey='batch_insert')\r\
        \nETag: W/\"datetime'2017-11-10T02%3A43%3A41.7400229Z'\"\r\n\r\n\r\n--changesetresponse_a40d7aec-c3b3-4d46-a2b6-6829e5d8c201--\r\
        \n--batchresponse_e00cadc4-6893-41f0-8a2f-88357e7fcc12--\r\n"}
    headers:
      Content-Type: [multipart/mixed; boundary=batchresponse_e00cadc4-6893-41f0-8a2f-88357e7fcc12]
      x-ms-version: ['2017-04-17']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 10 Nov 2017 02:43:42 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/tablef0c20dcc(PartitionKey='001',RowKey='batch_insert')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#tablef0c20dcc/@Element","odata.etag":"W/\"datetime''2017-11-10T02%3A43%3A41.7400229Z''\"","PartitionKey":"001","RowKey":"batch_insert","Timestamp":"2017-11-10T02:43:41.7400229Z","test":"true","test2":"value","test3@odata.type":"Edm.Int64","test3":"3","test4@odata.type":"Edm.Int64","test4":"1234567890","test5@odata.type":"Edm.DateTime","test5":"2017-11-10T02:43:41Z"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-11-10T02%3A43%3A41.7400229Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
