interactions:
- request:
    body: '{"PartitionKey": "pk7e2c1154", "RowKey": "rk7e2c1154", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "optional":
      null, "ratio": 3.1, "evenratio": 3.0, "large": "933311100", "large@odata.type":
      "Edm.Int64", "Birthday": "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime",
      "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type": "Edm.DateTime", "binary":
      "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 10 Nov 2017 00:47:39 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/table7e2c1154
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/table7e2c1154(PartitionKey=''pk7e2c1154'',RowKey=''rk7e2c1154'')']
      ETag: [W/"datetime'2017-11-10T00%3A47%3A39.4770586Z'"]
      Location: ['https://storagename.table.core.windows.net/table7e2c1154(PartitionKey=''pk7e2c1154'',RowKey=''rk7e2c1154'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: '--batch_c0a071c9-c5b0-11e7-87d8-a08cfdf04b77

      Content-Type: multipart/mixed; boundary=changeset_c0a071ca-c5b0-11e7-a771-a08cfdf04b77


      --changeset_c0a071ca-c5b0-11e7-a771-a08cfdf04b77

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      PUT /table7e2c1154(PartitionKey=''pk7e2c1154'',RowKey=''rk7e2c1154'') HTTP/1.1

      Content-ID: 1

      Content-Type: application/json

      Accept: application/json;odata=minimalmetadata

      If-Match: W/"datetime''2017-11-10T00%3A47%3A39.4770586Z''"

      Content-Length: 180


      {"PartitionKey": "pk7e2c1154", "RowKey": "rk7e2c1154", "age": "abc", "sex":
      "female", "sign": "aquarius", "birthday": "1991-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime"}


      --changeset_c0a071ca-c5b0-11e7-a771-a08cfdf04b77--

      --batch_c0a071c9-c5b0-11e7-87d8-a08cfdf04b77--'
    headers:
      Content-Type: [multipart/mixed; boundary=batch_c0a071c9-c5b0-11e7-87d8-a08cfdf04b77]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 10 Nov 2017 00:47:39 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body: {string: "--batchresponse_b687d363-0593-4eff-a45d-008aded6b5c4\r\nContent-Type:\
        \ multipart/mixed; boundary=changesetresponse_f7ff7833-ce34-47bd-9ec0-703615e6c04e\r\
        \n\r\n--changesetresponse_f7ff7833-ce34-47bd-9ec0-703615e6c04e\r\nContent-Type:\
        \ application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204\
        \ No Content\r\nContent-ID: 1\r\nX-Content-Type-Options: nosniff\r\nCache-Control:\
        \ no-cache\r\nDataServiceVersion: 1.0;\r\nETag: W/\"datetime'2017-11-10T00%3A47%3A39.4780586Z'\"\
        \r\n\r\n\r\n--changesetresponse_f7ff7833-ce34-47bd-9ec0-703615e6c04e--\r\n\
        --batchresponse_b687d363-0593-4eff-a45d-008aded6b5c4--\r\n"}
    headers:
      Content-Type: [multipart/mixed; boundary=batchresponse_b687d363-0593-4eff-a45d-008aded6b5c4]
      x-ms-version: ['2017-04-17']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 10 Nov 2017 00:47:39 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/table7e2c1154(PartitionKey='pk7e2c1154',RowKey='rk7e2c1154')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#table7e2c1154/@Element","odata.etag":"W/\"datetime''2017-11-10T00%3A47%3A39.4780586Z''\"","PartitionKey":"pk7e2c1154","RowKey":"rk7e2c1154","Timestamp":"2017-11-10T00:47:39.4780586Z","age":"abc","birthday@odata.type":"Edm.DateTime","birthday":"1991-10-04T00:00:00Z","sex":"female","sign":"aquarius"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-11-10T00%3A47%3A39.4780586Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
