interactions:
- request:
    body: '{"PartitionKey": "pkca91d72", "RowKey": "rkca91d72", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "optional":
      null, "evenratio": 3.0, "ratio": 3.1, "large": "933311100", "large@odata.type":
      "Edm.Int64", "Birthday": "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime",
      "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type": "Edm.DateTime", "binary":
      "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Tue, 03 Oct 2017 18:57:40 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttableca91d72
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttableca91d72(PartitionKey=''pkca91d72'',RowKey=''rkca91d72'')']
      ETag: [W/"datetime'2017-10-03T18%3A57%3A40.7643154Z'"]
      Location: ['https://storagename.table.core.windows.net/uttableca91d72(PartitionKey=''pkca91d72'',RowKey=''rkca91d72'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 03 Oct 2017 18:57:40 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttableca91d72(PartitionKey='pkca91d72',RowKey='rkca91d72')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttableca91d72/@Element","odata.etag":"W/\"datetime''2017-10-03T18%3A57%3A40.7643154Z''\"","PartitionKey":"pkca91d72","RowKey":"rkca91d72","Timestamp":"2017-10-03T18:57:40.7643154Z","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"evenratio":3.0,"ratio":3.1,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-10-03T18%3A57%3A40.7643154Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 03 Oct 2017 18:58:37 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttableca91d72(PartitionKey='pkca91d72',RowKey='rkca91d72')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttableca91d72/@Element","odata.etag":"W/\"datetime''2017-10-03T18%3A57%3A40.7643154Z''\"","PartitionKey":"pkca91d72","RowKey":"rkca91d72","Timestamp":"2017-10-03T18:57:40.7643154Z","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"evenratio":3.0,"ratio":3.1,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-10-03T18%3A57%3A40.7643154Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
