interactions:
- request:
    body: '{"PartitionKey": "pkfdd194e", "RowKey": "rkfdd194e", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "ymf80Vqkag6u+j5C0A62zw==", "sex@odata.type": "Edm.Binary",
      "name": "P53a3Jat54IvQBYM2ajOnA==", "name@odata.type": "Edm.Binary", "married":
      true, "deceased": false, "optional": null, "evenratio": 3.0, "ratio": 3.1, "large":
      "933311100", "large@odata.type": "Edm.Int64", "Birthday": "1973-10-04T00:00:00Z",
      "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other":
      20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid",
      "_ClientEncryptionMetadata2": "muTEP5OkhGFeLXZCyT2HdQ==", "_ClientEncryptionMetadata2@odata.type":
      "Edm.Binary", "_ClientEncryptionMetadata1": "{\"WrappedContentKey\": {\"KeyId\":
      \"key1\", \"EncryptedKey\": \"2oWmKFGhR04ua9nOOETc+1RapvUVhGR9Hf3Wi6jSogzRWjJsSd1Qqw==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"qoWDDR6iEkfcEEC6f85p0A==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.37.1\"}}"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 10 Nov 2017 02:44:22 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttablefdd194e
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttablefdd194e(PartitionKey=''pkfdd194e'',RowKey=''rkfdd194e'')']
      ETag: [W/"datetime'2017-11-10T02%3A44%3A22.5858283Z'"]
      Location: ['https://storagename.table.core.windows.net/uttablefdd194e(PartitionKey=''pkfdd194e'',RowKey=''rkfdd194e'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
version: 1
