interactions:
- request:
    body: '{"PartitionKey": "pk24fb1d97", "RowKey": "rk24fb1d97", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "6BZ5x+T4ZH/4O37eEksPqA==", "sex@odata.type": "Edm.Binary",
      "name": "VTJusa8+Cn3m5Ni1EhZLhQ==", "name@odata.type": "Edm.Binary", "married":
      true, "deceased": false, "optional": null, "evenratio": 3.0, "ratio": 3.1, "large":
      "933311100", "large@odata.type": "Edm.Int64", "Birthday": "1973-10-04T00:00:00Z",
      "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other":
      20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid",
      "_ClientEncryptionMetadata2": "IyloeSnkuLUbgjAf1gEJqA==", "_ClientEncryptionMetadata2@odata.type":
      "Edm.Binary", "_ClientEncryptionMetadata1": "{\"WrappedContentKey\": {\"KeyId\":
      \"key1\", \"EncryptedKey\": \"jJgQqeVpR7W/y/I7wiwXY2FqTqGhHKO2m/2gUnejd43wFQrZ3C0EuA==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"cEHHHZ8/LMwLHo2mHNfs7A==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.37.1\"}}"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 10 Nov 2017 00:47:49 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttable24fb1d97
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttable24fb1d97(PartitionKey=''pk24fb1d97'',RowKey=''rk24fb1d97'')']
      ETag: [W/"datetime'2017-11-10T00%3A47%3A49.1625306Z'"]
      Location: ['https://storagename.table.core.windows.net/uttable24fb1d97(PartitionKey=''pk24fb1d97'',RowKey=''rk24fb1d97'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 10 Nov 2017 00:47:49 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttable24fb1d97(PartitionKey='pk24fb1d97',RowKey='rk24fb1d97')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable24fb1d97/@Element","odata.etag":"W/\"datetime''2017-11-10T00%3A47%3A49.1625306Z''\"","PartitionKey":"pk24fb1d97","RowKey":"rk24fb1d97","Timestamp":"2017-11-10T00:47:49.1625306Z","age@odata.type":"Edm.Int64","age":"39","sex@odata.type":"Edm.Binary","sex":"6BZ5x+T4ZH/4O37eEksPqA==","name@odata.type":"Edm.Binary","name":"VTJusa8+Cn3m5Ni1EhZLhQ==","married":true,"deceased":false,"evenratio":3.0,"ratio":3.1,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","_ClientEncryptionMetadata2@odata.type":"Edm.Binary","_ClientEncryptionMetadata2":"IyloeSnkuLUbgjAf1gEJqA==","_ClientEncryptionMetadata1":"{\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"jJgQqeVpR7W/y/I7wiwXY2FqTqGhHKO2m/2gUnejd43wFQrZ3C0EuA==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"cEHHHZ8/LMwLHo2mHNfs7A==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 0.37.1\"}}"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-11-10T00%3A47%3A49.1625306Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
