interactions:
- request:
    body: '--batch_6e16da80-a86c-11e7-bb37-a08cfdf04b77

      Content-Type: multipart/mixed; boundary=changeset_6e16da81-a86c-11e7-b654-a08cfdf04b77


      --changeset_6e16da81-a86c-11e7-b654-a08cfdf04b77

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      MERGE /table4c11103b(PartitionKey=''001'',RowKey=''batch_insert_merge'') HTTP/1.1

      Content-ID: 1

      Content-Type: application/json

      Accept: application/json;odata=minimalmetadata

      Content-Length: 261


      {"PartitionKey": "001", "RowKey": "batch_insert_merge", "test": "true", "test2":
      "value", "test3": "3", "test3@odata.type": "Edm.Int64", "test4": "1234567890",
      "test4@odata.type": "Edm.Int64", "test5": "2017-10-03T18:55:31Z", "test5@odata.type":
      "Edm.DateTime"}


      --changeset_6e16da81-a86c-11e7-b654-a08cfdf04b77--

      --batch_6e16da80-a86c-11e7-bb37-a08cfdf04b77--'
    headers:
      Content-Type: [multipart/mixed; boundary=batch_6e16da80-a86c-11e7-bb37-a08cfdf04b77]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 03 Oct 2017 18:55:31 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body: {string: "--batchresponse_765fa121-c27f-4d18-885a-10feb25fc223\r\nContent-Type:\
        \ multipart/mixed; boundary=changesetresponse_99db0576-13be-4b36-926f-ed3f6123fe63\r\
        \n\r\n--changesetresponse_99db0576-13be-4b36-926f-ed3f6123fe63\r\nContent-Type:\
        \ application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204\
        \ No Content\r\nContent-ID: 1\r\nX-Content-Type-Options: nosniff\r\nCache-Control:\
        \ no-cache\r\nDataServiceVersion: 1.0;\r\nETag: W/\"datetime'2017-10-03T18%3A55%3A31.9407096Z'\"\
        \r\n\r\n\r\n--changesetresponse_99db0576-13be-4b36-926f-ed3f6123fe63--\r\n\
        --batchresponse_765fa121-c27f-4d18-885a-10feb25fc223--\r\n"}
    headers:
      Content-Type: [multipart/mixed; boundary=batchresponse_765fa121-c27f-4d18-885a-10feb25fc223]
      x-ms-version: ['2017-04-17']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 03 Oct 2017 18:55:31 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/table4c11103b(PartitionKey='001',RowKey='batch_insert_merge')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#table4c11103b/@Element","odata.etag":"W/\"datetime''2017-10-03T18%3A55%3A31.9407096Z''\"","PartitionKey":"001","RowKey":"batch_insert_merge","Timestamp":"2017-10-03T18:55:31.9407096Z","test":"true","test2":"value","test3@odata.type":"Edm.Int64","test3":"3","test4@odata.type":"Edm.Int64","test4":"1234567890","test5@odata.type":"Edm.DateTime","test5":"2017-10-03T18:55:31Z"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-10-03T18%3A55%3A31.9407096Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
