interactions:
- request:
    body: !!python/unicode '{"test3": "3", "test2": "value", "test5": "2017-09-26T08:30:39Z",
      "test4": "1234567890", "PartitionKey": "003", "test5@odata.type": "Edm.DateTime",
      "test3@odata.type": "Edm.Int64", "RowKey": "batch_all_operations_together-1",
      "test": "true", "test4@odata.type": "Edm.Int64"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Tue, 26 Sep 2017 08:30:39 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/table194014d4
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/table194014d4(PartitionKey=''003'',RowKey=''batch_all_operations_together-1'')']
      etag: [W/"datetime'2017-09-26T08%3A30%3A39.4942275Z'"]
      location: ['https://storagename.table.core.windows.net/table194014d4(PartitionKey=''003'',RowKey=''batch_all_operations_together-1'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
[...]
- request:
    body: !!python/unicode '--batch_fab472ae-a294-11e7-b6bc-b8e8564491f6

      Content-Type: multipart/mixed; boundary=changeset_fab4733a-a294-11e7-8f7a-b8e8564491f6


      --changeset_fab4733a-a294-11e7-8f7a-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /table194014d4 HTTP/1.1

      Content-ID: 1

      Prefer: return-no-content

      Accept: application/json;odata=minimalmetadata

      Content-Type: application/json

      Content-Length: 272


      {"test3": "3", "test2": "value", "test5": "2017-09-26T08:30:39Z", "test4": "1234567890",
      "PartitionKey": "003", "test5@odata.type": "Edm.DateTime", "test3@odata.type":
      "Edm.Int64", "RowKey": "batch_all_operations_together", "test": "true", "test4@odata.type":
      "Edm.Int64"}


      --changeset_fab4733a-a294-11e7-8f7a-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      DELETE /table194014d4(PartitionKey=''003'',RowKey=''batch_all_operations_together-1'')
      HTTP/1.1

      Content-ID: 2

      If-Match: *

      Accept: application/json;odata=minimalmetadata


      --changeset_fab4733a-a294-11e7-8f7a-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      PUT /table194014d4(PartitionKey=''003'',RowKey=''batch_all_operations_together-2'')
      HTTP/1.1

      Content-ID: 3

      Accept: application/json;odata=minimalmetadata

      If-Match: *

      Content-Type: application/json

      Content-Length: 275


      {"test3": "10", "test2": "value",[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 26 Sep 2017 08:30:40 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/table194014d4()?%24filter=PartitionKey+eq+%27003%27&%24select=
  response:
    body: {string: !!python/unicode '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#table194014d4&$select=","value":[{"odata.etag":"W/\"datetime''2017-09-26T08%3A30%3A39.9632585Z''\"","PartitionKey":"003","RowKey":"batch_all_operations_together","Timestamp":"2017-09-26T08:30:39.9632585Z","test3@odata.type":"Edm.Int64","test3":"3","test2":"value","test5@odata.type":"Edm.DateTime","test5":"2017-09-26T08:30:39Z","test4@odata.type":"Edm.Int64","test4":"1234567890","test":"true"},{"odata.etag":"W/\"datetime''2017-09-26T08%3A30%3A39.8294121Z''\"","PartitionKey":"003","RowKey":"batch_all_operations_together-2","Timestamp":"2017-09-26T08:30:39.8294121Z","test":"true","test2":"value","test3@odata.type":"Edm.Int64","test3":"10","test4@odata.type":"Edm.Int64"[...]
