interactions:
- request:
    body: '{"PartitionKey": "pkbe9d1303", "RowKey": "rkbe9d1303fullmetadata", "age":
      "39", "age@odata.type": "Edm.Int64", "sex": "LM9+yD5RbZ78SKvRCA6NiQ==", "sex@odata.type":
      "Edm.Binary", "name": "tdOsvdQY0+EAUh64WXy6eA==", "name@odata.type": "Edm.Binary",
      "married": true, "deceased": false, "optional": null, "evenratio": 3.0, "ratio":
      3.1, "large": "933311100", "large@odata.type": "Edm.Int64", "Birthday": "1973-10-04T00:00:00Z",
      "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other":
      20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid",
      "_ClientEncryptionMetadata2": "hjv6AGPkZWGdbD7AnzijGA==", "_ClientEncryptionMetadata2@odata.type":
      "Edm.Binary", "_ClientEncryptionMetadata1": "{\"WrappedContentKey\": {\"KeyId\":
      \"key1\", \"EncryptedKey\": \"PVtKKZRiH6dOTDxddqqQWoJnen4Bzyb13VmPeiDFJJI/GOQlw0BKcw==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"yaWhVkPcAfcf4vNPNId39A==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.37.0\"}}"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Tue, 03 Oct 2017 18:56:04 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttablebe9d1303
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttablebe9d1303(PartitionKey=''pkbe9d1303'',RowKey=''rkbe9d1303fullmetadata'')']
      ETag: [W/"datetime'2017-10-03T18%3A56%3A05.2180568Z'"]
      Location: ['https://storagename.table.core.windows.net/uttablebe9d1303(PartitionKey=''pkbe9d1303'',RowKey=''rkbe9d1303fullmetadata'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 03 Oct 2017 18:56:05 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttablebe9d1303(PartitionKey='pkbe9d1303',RowKey='rkbe9d1303fullmetadata')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttablebe9d1303/@Element","odata.type":"storagename.uttablebe9d1303","odata.id":"https://storagename.table.core.windows.net/uttablebe9d1303(PartitionKey=''pkbe9d1303'',RowKey=''rkbe9d1303fullmetadata'')","odata.etag":"W/\"datetime''2017-10-03T18%3A56%3A05.2180568Z''\"","odata.editLink":"uttablebe9d1303(PartitionKey=''pkbe9d1303'',RowKey=''rkbe9d1303fullmetadata'')","PartitionKey":"pkbe9d1303","RowKey":"rkbe9d1303fullmetadata","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2017-10-03T18:56:05.2180568Z","age@odata.type":"Edm.Int64","age":"39","sex@odata.type":"Edm.Binary","sex":"LM9+yD5RbZ78SKvRCA6NiQ==","name@odata.type":"Edm.Binary","name":"tdOsvdQY0+EAUh64WXy6eA==","married":true,"deceased":false,"evenratio":3.0,"ratio":3.1,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","_ClientEncryptionMetadata2@odata.type":"Edm.Binary","_ClientEncryptionMetadata2":"hjv6AGPkZWGdbD7AnzijGA==","_ClientEncryptionMetadata1":"{\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"PVtKKZRiH6dOTDxddqqQWoJnen4Bzyb13VmPeiDFJJI/GOQlw0BKcw==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"yaWhVkPcAfcf4vNPNId39A==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 0.37.0\"}}"}'}
    headers:
      Content-Type: [application/json;odata=fullmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-10-03T18%3A56%3A05.2180568Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 03 Oct 2017 18:56:05 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttablebe9d1303(PartitionKey='pkbe9d1303',RowKey='rkbe9d1303minimalmetadata')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttablebe9d1303/@Element","odata.etag":"W/\"dateti[...]
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 03 Oct 2017 18:56:05 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttablebe9d1303(PartitionKey='pkbe9d1303',RowKey='rkbe9d1303nometadata')
  response:
    body: {string: '{"PartitionKey":"pkbe9d1303","RowKey":"rkbe9d1303nometadata","Timestamp":"2017-10-03T18:56:05.6164333Z","age":"39","sex":"4yJm2hhZ2U1HC7b+QITmpQ==","name":"nJquZbpPcKJG02OL7Bt9kA==","married":true,"deceased":false,"evenratio":3.0,"ratio":3.1,"large":"933311100","Birthday":"1973-10-04T00:00:00Z","birthday":"1970-10-04T00:00:00Z","binary":"YmluYXJ5","other":20,"clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","_ClientEncryptionMetadata2":"u0NrBL33gqo5h3I1uraC/Q==","_ClientEncryptionMetadata1":"{\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"9RiV4DQhETY9OrTDyC9yAk6KB1M7EazrEItsf7o5k49L0w9hLGDT0A==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"SdiefCc2cWIatTmVYv6b8A==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 0.37.0\"}}"}'}
    headers:
      Content-Type: [application/json;odata=nometadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-10-03T18%3A56%3A05.6164333Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
