interactions:
- request:
    body: '{"PartitionKey": "pkabdc128f", "RowKey": "rkabdc128f", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "Qvafh6mlCbgZeEn9hAyu7g==", "sex@odata.type": "Edm.Binary",
      "name": "John Doe", "married": true, "deceased": false, "optional": null, "ratio":
      3.1, "evenratio": 3.0, "large": "933311100", "large@odata.type": "Edm.Int64",
      "Birthday": "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime", "birthday":
      "1970-10-04T00:00:00Z", "birthday@odata.type": "Edm.DateTime", "binary": "YmluYXJ5",
      "binary@odata.type": "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid", "_ClientEncryptionMetadata2": "/cgiseENJzH6DDm2yEpRvA==",
      "_ClientEncryptionMetadata2@odata.type": "Edm.Binary", "_ClientEncryptionMetadata1":
      "{\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"lIu0myoDsSQry2Hws28QFd2ASdfURXG5N+0Rr8MI9fNqLy9KmiEFHA==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"0F8Dzv47dNZPohvfyCkXyg==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.37.1\"}}"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 10 Nov 2017 00:47:43 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttableabdc128f
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttableabdc128f(PartitionKey=''pkabdc128f'',RowKey=''rkabdc128f'')']
      ETag: [W/"datetime'2017-11-10T00%3A47%3A44.1655955Z'"]
      Location: ['https://storagename.table.core.windows.net/uttableabdc128f(PartitionKey=''pkabdc128f'',RowKey=''rkabdc128f'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 10 Nov 2017 00:47:44 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttableabdc128f(PartitionKey='pkabdc128f',RowKey='rkabdc128f')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttableabdc128f/@Element","odata.etag":"W/\"datetime''2017-11-10T00%3A47%3A44.1655955Z''\"","PartitionKey":"pkabdc128f","RowKey":"rkabdc128f","Timestamp":"2017-11-10T00:47:44.1655955Z","age@odata.type":"Edm.Int64","age":"39","sex@odata.type":"Edm.Binary","sex":"Qvafh6mlCbgZeEn9hAyu7g==","name":"John
        Doe","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","_ClientEncryptionMetadata2@odata.type":"Edm.Binary","_ClientEncryptionMetadata2":"/cgiseENJzH6DDm2yEpRvA==","_ClientEncryptionMetadata1":"{\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"lIu0myoDsSQry2Hws28QFd2ASdfURXG5N+0Rr8MI9fNqLy9KmiEFHA==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"0F8Dzv47dNZPohvfyCkXyg==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 0.37.1\"}}"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-11-10T00%3A47%3A44.1655955Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
