interactions:
- request:
    body: !!python/unicode '{"sex": "fsVnXNdcyT4dY4+giLYn7w==", "birthday@odata.type":
      "Edm.DateTime", "evenratio": 3.0, "binary": "YmluYXJ5", "ratio": 3.1, "large@odata.type":
      "Edm.Int64", "Birthday@odata.type": "Edm.DateTime", "Birthday": "1973-10-04T00:00:00Z",
      "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "RowKey": "entity1", "_ClientEncryptionMetadata2@odata.type":
      "Edm.Binary", "name@odata.type": "Edm.Binary", "birthday": "1970-10-04T00:00:00Z",
      "binary@odata.type": "Edm.Binary", "optional": null, "_ClientEncryptionMetadata1":
      "{\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"4MBDWFy2bnP+GW1KJC66Uy2PAlbWYplPj81/T/3nyL7XoJZqomVAzA==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"y8iprndWsF2ihHpt7OuRDQ==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.36.0\"}}", "_ClientEncryptionMetadata2":
      "3aeSb3PEORiQQuLRvuzWaw==", "sex@odata.type": "Edm.Binary", "age@odata.type":
      "Edm.Int64", "name": "ACCLBWsDFvAjgGDhBO7nWg==", "clsid@odata.type": "Edm.Guid",
      "married": true, "large": "933311100", "PartitionKey": "pkf00194b", "other":
      20, "age": "39", "deceased": false}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Tue, 26 Sep 2017 08:31:49 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttablef00194b
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/uttablef00194b(PartitionKey=''pkf00194b'',RowKey=''entity1'')']
      etag: [W/"datetime'2017-09-26T08%3A31%3A48.9947135Z'"]
      location: ['https://storagename.table.core.windows.net/uttablef00194b(PartitionKey=''pkf00194b'',RowKey=''entity1'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 26 Sep 2017 08:31:49 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttablef00194b(PartitionKey='pkf00194b',RowKey='entity1')
  response:
    body: {string: !!python/unicode '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttablef00194b/@Element","odata.etag":"W/\"datetime''2017-09-26T08%3A31%3A48.9947135Z''\"","PartitionKey":"pkf00194b","RowKey":"entity1","Timestamp":"2017-09-26T08:31:48.9947135Z","sex@odata.type":"Edm.Binary","sex":"fsVnXNdcyT4dY4+giLYn7w==","evenratio":3.0,"binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","ratio":3.1,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","_ClientEncryptionMetadata1":"{\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"4MBDWFy2bnP+GW1KJC66Uy2PAlbWYplPj81/T/3nyL7XoJZqomVAzA==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"y8iprndWsF2ihHpt7OuRDQ==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 0.36.0\"}}","_ClientEncryptionMetadata2@odata.type":"Edm.Binary","_ClientEncryptionMetadata2":"3aeSb3PEORiQQuLRvuzWaw==","name@odata.type":"Edm.Binary","name":"ACCLBWsDFvAjgGDhBO7nWg==","married":true,"large@odata.type":"Edm.Int64","large":"933311100","other":20,"age@odata.type":"Edm.Int64","age":"39","deceased":false}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      etag: [W/"datetime'2017-09-26T08%3A31%3A48.9947135Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"sex": "fsVnXNdcyT4dY4+giLYn7w==", "birthday@odata.type":
      "Edm.DateTime", "evenratio": 3.0, "Timestamp@odata.type": "Edm.DateTime", "binary":
      "YmluYXJ5", "ratio": 3.1, "Timestamp": "2017-09-26T08:31:48Z", "large@odata.type":
      "Edm.Int64", "Birthday@odata.type": "Edm.DateTime", "etag": "W/\"datetime''2017-09-26T08%3A31%3A48.9947135Z''\"",
      "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "RowKey": "entity2", "_ClientEncryptionMetadata2@odata.type":
      "Edm.Binary", "name@odata.type": "Edm.Binary", "birthday": "1970-10-04T00:00:00Z",
      "binary@odata.type": "Edm.Binary", "_ClientEncryptionMetadata1": "{\"WrappedContentKey\":
      {\"KeyId\": \"key1\", \"EncryptedKey\": \"4MBDWFy2bnP+GW1KJC66Uy2PAlbWYplPj81/T/3nyL7XoJZqomVAzA==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"y8iprndWsF2ihHpt7OuRDQ==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.36.0\"}}", "_ClientEncryptionMetadata2":
      "3aeSb3PEORiQQuLRvuzWaw==", "sex@odata.type": "Edm.Binary", "age@odata.type":
      "Edm.Int64", "name": "ACCLBWsDFvAjgGDhBO7nWg==", "clsid@odata.type": "Edm.Guid",
      "age": "39", "married": true, "large": "933311100", "PartitionKey": "pkf00194b",
      "Birthday": "1973-10-04T00:00:00Z", "other": 20, "deceased": false}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      If-Match: ['*']
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 26 Sep 2017 08:31:49 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.table.core.windows.net/uttablef00194b(PartitionKey='pkf00194b',RowKey='entity2')
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: [W/"datetime'2017-09-26T08%3A31%3A49.1903535Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
[...]
