interactions:
- request:
    body: '{"PartitionKey": "003", "RowKey": "batch_all_operations_together-1", "test":
      "true", "test2": "value", "test3": "3", "test3@odata.type": "Edm.Int64", "test4":
      "1234567890", "test4@odata.type": "Edm.Int64", "test5": "2017-11-10T00:47:14Z",
      "test5@odata.type": "Edm.DateTime"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 10 Nov 2017 00:47:14 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/table194014d4
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/table194014d4(PartitionKey=''003'',RowKey=''batch_all_operations_together-1'')']
      ETag: [W/"datetime'2017-11-10T00%3A47%3A14.4990039Z'"]
      Location: ['https://storagename.table.core.windows.net/table194014d4(PartitionKey=''003'',RowKey=''batch_all_operations_together-1'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
[...]
- request:
    body: '--batch_b21831be-c5b0-11e7-bc96-a08cfdf04b77

      Content-Type: multipart/mixed; boundary=changeset_b21831bf-c5b0-11e7-863b-a08cfdf04b77


      --changeset_b21831bf-c5b0-11e7-863b-a08cfdf04b77

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /table194014d4 HTTP/1.1

      Content-ID: 1

      Content-Type: application/json

      Accept: application/json;odata=minimalmetadata

      Prefer: return-no-content

      Content-Length: 272


      {"PartitionKey": "003", "RowKey": "batch_all_operations_together", "test": "true",
      "test2": "value", "test3": "3", "test3@odata.type": "Edm.Int64", "test4": "1234567890",
      "test4@odata.type": "Edm.Int64", "test5": "2017-11-10T00:47:14Z", "test5@odata.type":
      "Edm.DateTime"}


      --changeset_b21831bf-c5b0-11e7-863b-a08cfdf04b77

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      DELETE /table194014d4(PartitionKey=''003'',RowKey=''batch_all_operations_together-1'')
      HTTP/1.1

      Content-ID: 2

      Accept: application/json;odata=minimalmetadata

      If-Match: *


      --changeset_b21831bf-c5b0-11e7-863b-a08cfdf04b77

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      PUT /table194014d4(PartitionKey=''003'',RowKey=''batch_all_operations_together-2'')
      HTTP/1.1

      Content-ID: 3

      Content-Type: application/json

      Accept: application/json;odata=minimalmetadata

      If-Match: *

      Content-Length: 275


      {"PartitionKey": "003", "RowKey": "batch_all_operations_together-2", "test":
      "tru[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 10 Nov 2017 00:47:15 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/table194014d4()?%24filter=PartitionKey+eq+%27003%27&%24select=
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#table194014d4&$select=","value":[{"odata.etag":"W/\"datetime''2017-11-10T00%3A47%3A14.9354191Z''\"","PartitionKey":"003","RowKey":"batch_all_operations_together","Timestamp":"2017-11-10T00:47:14.9354191Z","test":"true","test2":"value","test3@odata.type":"Edm.Int64","test3":"3","test4@odata.type":"Edm.Int64","test4":"1234567890","test5@odata.type":"Edm.DateTime","test5":"2017-11-10T00:47:14Z"},{"odata.etag":"W/\"datetime''2017-11-10T00%3A47%3A15.0148708Z''\"","PartitionKey":"003","RowKey":"batch_all_operations_together-2","Timestamp":"2017-11-10T00:47:15.0148708Z","test":"true","test2":"value","test3@odata.type":"Edm.Int64","test3":"10","test4@odata.type":"Edm.Int64"[...]
