interactions:
- request:
    body: '{"PartitionKey": "001", "RowKey": "batch_merge", "test": "true", "test2":
      "value", "test3": "3", "test3@odata.type": "Edm.Int64", "test4": "1234567890",
      "test4@odata.type": "Edm.Int64", "test5": "2017-10-03T18:55:36Z", "test5@odata.type":
      "Edm.DateTime"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Tue, 03 Oct 2017 18:55:36 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/tablee2da0d47
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/tablee2da0d47(PartitionKey=''001'',RowKey=''batch_merge'')']
      ETag: [W/"datetime'2017-10-03T18%3A55%3A36.6105031Z'"]
      Location: ['https://storagename.table.core.windows.net/tablee2da0d47(PartitionKey=''001'',RowKey=''batch_merge'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 03 Oct 2017 18:55:36 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/tablee2da0d47(PartitionKey='001',RowKey='batch_merge')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#tablee2da0d47/@Element","odata.etag":"W/\"datetime''2017-10-03T18%3A55%3A36.6105031Z''\"","PartitionKey":"001","RowKey":"batch_merge","Timestamp":"2017-10-03T18:55:36.6105031Z","test":"true","test2":"value","test3@odata.type":"Edm.Int64","test3":"3","test4@odata.type":"Edm.Int64","test4":"1234567890","test5@odata.type":"Edm.DateTime","test5":"2017-10-03T18:55:36Z"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-10-03T18%3A55%3A36.6105031Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: '--batch_712ce03b-a86c-11e7-9ed7-a08cfdf04b77

      Content-Type: multipart/mixed; boundary=changeset_712ce03c-a86c-11e7-9f20-a08cfdf04b77


      --changeset_712ce03c-a86c-11e7-9f20-a08cfdf04b77

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      MERGE /tablee2da0d47(PartitionKey=''001'',RowKey=''batch_merge'') HTTP/1.1

      Content-ID: 1

      Content-Type: application/json

      Accept: application/json;odata=minimalmetadata

      If-Match: *

      Content-Length: 67


      {"PartitionKey": "001", "RowKey": "batch_merge", "test2": "value1"}


      --changeset_712ce03c-a86c-11e7-9f20-a08cfdf04b77--

      --batch_712ce03b-a86c-11e7-9ed7-a08cfdf04b77--'
    headers:
      Content-Type: [multipart/mixed; boundary=batch_712ce03b-a86c-11e7-9ed7-a08cfdf04b77]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 03 Oct 2017 18:55:36 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body: {string: "--batchresponse_79946ddf-b966-411c-a9a0-d5ba615f362b\r\nContent-Type:\
        \ multipart/mixed; boundary=changesetresponse_ff9a2ded-7b96-4ef2-9eea-568d4046ab51\r\
        \n\r\n--changesetresponse_ff9a2ded-7b96-4ef2-9eea-568d4046ab51\r\nContent-Type:\
        \ application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204\
        \ No Content\r\nContent-ID: 1\r\nX-Content-Type-Options: nosniff\r\nCache-Control:\
        \ no-cache\r\nDataServiceVersion: 1.0;\r\nETag: W/\"datetime'2017-10-03T18%3A55%3A36.769271Z'\"\
        \r\n\r\n\r\n--changesetresponse_ff9a2ded-7b96-4ef2-9eea-568d4046ab51--\r\n\
        --batchresponse_79946ddf-b966-411c-a9a0-d5ba615f362b--\r\n"}
    headers:
      Content-Type: [multipart/mixed; boundary=batchresponse_79946ddf-b966-411c-a9a0-d5ba615f362b]
      x-ms-version: ['2017-04-17']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 03 Oct 2017 18:55:36 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/tablee2da0d47(PartitionKey='001',RowKey='batch_merge')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#tablee2da0d47/@Element","odata.etag":"W/\"datetime''2017-10-03T18%3A55%3A36.769271Z''\"","PartitionKey":"001","RowKey":"batch_merge","Timestamp":"2017-10-03T18:55:36.769271Z","test":"true","test2":"value1","test3@odata.type":"Edm.Int64","test3":"3","test4@odata.type":"Edm.Int64","test4":"1234567890","test5@odata.type":"Edm.DateTime","test5":"2017-10-03T18:55:36Z"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-10-03T18%3A55%3A36.769271Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
