interactions:
- request:
    body: '{"TableName": "querytable3d5515b5"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 10 Nov 2017 02:44:29 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/Tables(''querytable3d5515b5'')']
      Location: ['https://storagename.table.core.windows.net/Tables(''querytable3d5515b5'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: '--batch_12e75a3c-c5c1-11e7-b994-a08cfdf04b77

      Content-Type: multipart/mixed; boundary=changeset_12e75a3d-c5c1-11e7-99bd-a08cfdf04b77


      --changeset_12e75a3d-c5c1-11e7-99bd-a08cfdf04b77

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /querytable3d5515b5 HTTP/1.1

      Content-ID: 1

      Content-Type: application/json

      Accept: application/json;odata=minimalmetadata

      Prefer: return-no-content

      Content-Length: 1189


      {"PartitionKey": "pk3d5515b5", "RowKey": "rk3d5515b51", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "3lTqUZVTBK9E+hvHSAKaiA==", "sex@odata.type": "Edm.Binary",
      "name": "AKyTJlzdMy5AmjqQlK4gdg==", "name@odata.type": "Edm.Binary", "married":
      true, "deceased": false, "optional": null, "evenratio": 3.0, "ratio": 3.1, "large":
      "933311100", "large@odata.type": "Edm.Int64", "Birthday": "1973-10-04T00:00:00Z",
      "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other":
      20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid",
      "_ClientEncryptionMetadata2": "JXOVIHuJXNPVspuEqxKTdg==", "_ClientEncryptionMetadata2@odata.type":
      "Edm.Binary", "_ClientEncryptionMetadata1": "{\"WrappedContentKey\": {\"KeyId\":
      \"key1\", \"EncryptedKey\": \"dylXrDGKq4JgatPBBgDIzInamjXZqOOSGojagXuSzN6AZa2GkQTe3Q==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"u+uigaIV+zsm6huN4g1wiw==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.37.1\"}}"}


      --changeset_12e75a3d-c5c1-11e7-99bd-a08cfdf04b77

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /querytable3d5515b5 HTTP/1.1

      Content-ID: 2

      Content-Type: application/json

      Accept: application/json;odata=minimalmetadata

      Prefer: return-no-content

      Content-Length: 1190


      {"PartitionKey": "pk3d5515b5", "RowKey": "rk3d5515b512", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "+1[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 10 Nov 2017 02:44:29 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/querytable3d5515b5()?%24select=PartitionKey%2CRowKey%2Csex%2C_ClientEncryptionMetadata1%2C_ClientEncryptionMetadata2&%24top=5
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#querytable3d5515b5&$select=PartitionKey,RowKey,sex,_ClientEncryptionMetadata1,_ClientEncryptionMetadata2","value":[{"odata.etag":"W/\"datetime''2017-11-10T02%3A44%3A29.3040881Z''\"","PartitionKey":"pk3d5515b5","RowKey":"rk3d5515b51","_ClientEncryptionMetadata1":"{\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"dylXrDGKq4JgatPBBgDIzInamjXZqOOSGojagXuSzN6AZa2GkQTe3Q==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"u+uigaIV+zsm6huN4g1wiw==\", \"KeyWrappingMetadata\":
        {\"Encryptio[...]
