interactions:
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 26 Sep 2017 08:30:22 GMT']
      x-ms-version: ['2017-04-17']
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('tablea12c1b7c')
  response:
    body: {string: !!python/unicode '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:23f1a303-0002-0046-54a1-36a6bc000000\nTime:2017-09-26T08:30:21.4075520Z"}}}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      x-ms-version: ['2017-04-17']
    status: {code: 404, message: Not Found}
version: 1
