interactions:
- request:
    body: '--batch_f7f903a5-c5c0-11e7-a032-a08cfdf04b77

      Content-Type: multipart/mixed; boundary=changeset_f7f903a6-c5c0-11e7-b38f-a08cfdf04b77


      --changeset_f7f903a6-c5c0-11e7-b38f-a08cfdf04b77

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      PUT /table6dd31107(PartitionKey=''001'',RowKey=''batch_insert_replace'') HTTP/1.1

      Content-ID: 1

      Content-Type: application/json

      Accept: application/json;odata=minimalmetadata

      Content-Length: 263


      {"PartitionKey": "001", "RowKey": "batch_insert_replace", "test": "true", "test2":
      "value", "test3": "3", "test3@odata.type": "Edm.Int64", "test4": "1234567890",
      "test4@odata.type": "Edm.Int64", "test5": "2017-11-10T02:43:44Z", "test5@odata.type":
      "Edm.DateTime"}


      --changeset_f7f903a6-c5c0-11e7-b38f-a08cfdf04b77--

      --batch_f7f903a5-c5c0-11e7-a032-a08cfdf04b77--'
    headers:
      Content-Type: [multipart/mixed; boundary=batch_f7f903a5-c5c0-11e7-a032-a08cfdf04b77]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 10 Nov 2017 02:43:44 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body: {string: "--batchresponse_419f3ebf-2eee-4ee9-b443-8c44b521468f\r\nContent-Type:\
        \ multipart/mixed; boundary=changesetresponse_0903e801-cee8-402c-b7e2-b866602b724f\r\
        \n\r\n--changesetresponse_0903e801-cee8-402c-b7e2-b866602b724f\r\nContent-Type:\
        \ application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204\
        \ No Content\r\nContent-ID: 1\r\nX-Content-Type-Options: nosniff\r\nCache-Control:\
        \ no-cache\r\nDataServiceVersion: 1.0;\r\nETag: W/\"datetime'2017-11-10T02%3A43%3A44.449624Z'\"\
        \r\n\r\n\r\n--changesetresponse_0903e801-cee8-402c-b7e2-b866602b724f--\r\n\
        --batchresponse_419f3ebf-2eee-4ee9-b443-8c44b521468f--\r\n"}
    headers:
      Content-Type: [multipart/mixed; boundary=batchresponse_419f3ebf-2eee-4ee9-b443-8c44b521468f]
      x-ms-version: ['2017-04-17']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 10 Nov 2017 02:43:44 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/table6dd31107(PartitionKey='001',RowKey='batch_insert_replace')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#table6dd31107/@Element","odata.etag":"W/\"datetime''2017-11-10T02%3A43%3A44.449624Z''\"","PartitionKey":"001","RowKey":"batch_insert_replace","Timestamp":"2017-11-10T02:43:44.449624Z","test":"true","test2":"value","test3@odata.type":"Edm.Int64","test3":"3","test4@odata.type":"Edm.Int64","test4":"1234567890","test5@odata.type":"Edm.DateTime","test5":"2017-11-10T02:43:44Z"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-11-10T02%3A43%3A44.449624Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
