interactions:
- request:
    body: !!python/unicode '{"TableName": "querytablec12a1338"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Tue, 26 Sep 2017 08:34:57 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/Tables(''querytablec12a1338'')']
      location: ['https://storagename.table.core.windows.net/Tables(''querytablec12a1338'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: !!python/unicode '--batch_94018e2e-a295-11e7-8482-b8e8564491f6

      Content-Type: multipart/mixed; boundary=changeset_94018f0a-a295-11e7-9652-b8e8564491f6


      --changeset_94018f0a-a295-11e7-9652-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /querytablec12a1338 HTTP/1.1

      Content-ID: 1

      Prefer: return-no-content

      Accept: application/json;odata=minimalmetadata

      Content-Type: application/json

      Content-Length: 556


      {"binary": "YmluYXJ5", "age@odata.type": "Edm.Int64", "PartitionKey": "pkc12a1338",
      "ratio": 3.1, "large@odata.type": "Edm.Int64", "age": "39", "married": true,
      "Birthday@odata.type": "Edm.DateTime", "sex": "male", "large": "933311100",
      "birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "evenratio":
      3.0, "RowKey": "rkc12a13381", "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "binary@odata.type": "Edm.Binary", "Birthday": "1973-10-04T00:00:00Z", "other":
      20, "optional": null, "clsid@odata.type": "Edm.Guid", "deceased": false}


      --changeset_94018f0a-a295-11e7-9652-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /querytablec12a1338 HTTP/1.1

      Content-ID: 2

      Prefer: return-no-content

      Accept: application/json;odata=minimalmetadata

      Content-Type: application/json

      Content-Length: 557


      {"binary": "YmluYXJ5", "age@odata.type": "Edm.Int64", "PartitionKey": "pkc12a1338",
      "ratio": 3.1, "large@odata.type": "Edm.Int6[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 26 Sep 2017 08:34:57 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/querytablec12a1338()?%24top=2
  response:
    body: {string: !!python/unicode '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#querytablec12a1338","value":[{"odata.etag":"W/\"datetime''2017-09-26T08%3A34%3A56.9214257Z''\"","PartitionKey":"pkc12a1338","RowKey":"rkc12a13381","Timestamp":"2017-09-26T08:34:56.9214257Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","ratio":3.1,"age@odata.type":"Edm.Int64","age":"39","married":true,"sex":"male","large@odata.type":"Edm.Int64","large":"933311100","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","evenratio":3.0,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","other":20,"deceased":false},{"odata.etag":"W/\"datetime''2017-09-26T08%3A34%3A56.9214257Z''\"","PartitionKey":"pkc12a1338","RowKey":"rkc12a133812","Timestamp":"2017-09-26T08:34:56.9214257Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","ratio":3.1,"age@odata.type":"Edm.Int64","age":"39","married":true,"sex":"male","large@odata.type":"Edm.Int64","large":"933311100","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","evenratio":3.0,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","other":20,"deceased":false}]}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      x-ms-continuation-nextpartitionkey: [1!16!cGtjMTJhMTMzOA--]
      x-ms-continuation-nextrowkey: [1!20!cmtjMTJhMTMzODEyMw--]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
