interactions:
- request:
    body: !!python/unicode '{"sex": "TgtmupBOtdxuec8OOQkmMg==", "birthday@odata.type":
      "Edm.DateTime", "evenratio": 3.0, "binary": "YmluYXJ5", "ratio": 3.1, "large@odata.type":
      "Edm.Int64", "Birthday@odata.type": "Edm.DateTime", "Birthday": "1973-10-04T00:00:00Z",
      "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "RowKey": "rkfac5143f", "_ClientEncryptionMetadata2@odata.type":
      "Edm.Binary", "name@odata.type": "Edm.Binary", "birthday": "1970-10-04T00:00:00Z",
      "binary@odata.type": "Edm.Binary", "optional": null, "_ClientEncryptionMetadata1":
      "{\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"sD6JpR9/Nkzviwtj+8+n2baiU5xtPMSVxCcRnDY5bgP19FRIvCUV+Q==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"YU7xsFjlkiu1tU618czccw==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.36.0\"}}", "_ClientEncryptionMetadata2":
      "rb/OU2O2H19wYjoKG1KlWQ==", "sex@odata.type": "Edm.Binary", "age@odata.type":
      "Edm.Int64", "name": "hKQOjX8Vq8Y/YCangkWtpQ==", "clsid@odata.type": "Edm.Guid",
      "married": true, "large": "933311100", "PartitionKey": "pkfac5143f", "other":
      20, "age": "39", "deceased": false}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Tue, 26 Sep 2017 08:31:26 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttablefac5143f
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/uttablefac5143f(PartitionKey=''pkfac5143f'',RowKey=''rkfac5143f'')']
      etag: [W/"datetime'2017-09-26T08%3A31%3A26.4825018Z'"]
      location: ['https://storagename.table.core.windows.net/uttablefac5143f(PartitionKey=''pkfac5143f'',RowKey=''rkfac5143f'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 26 Sep 2017 08:31:27 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttablefac5143f(PartitionKey='pkfac5143f',RowKey='rkfac5143f')
  response:
    body: {string: !!python/unicode '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttablefac5143f/@Element","odata.etag":"W/\"datetime''2017-09-26T08%3A31%3A26.4825018Z''\"","PartitionKey":"pkfac5143f","RowKey":"rkfac5143f","Timestamp":"2017-09-26T08:31:26.4825018Z","sex@odata.type":"Edm.Binary","sex":"TgtmupBOtdxuec8OOQkmMg==","evenratio":3.0,"binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","ratio":3.1,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","_ClientEncryptionMetadata1":"{\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"sD6JpR9/Nkzviwtj+8+n2baiU5xtPMSVxCcRnDY5bgP19FRIvCUV+Q==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"YU7xsFjlkiu1tU618czccw==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 0.36.0\"}}","_ClientEncryptionMetadata2@odata.type":"Edm.Binary","_ClientEncryptionMetadata2":"rb/OU2O2H19wYjoKG1KlWQ==","name@odata.type":"Edm.Binary","name":"hKQOjX8Vq8Y/YCangkWtpQ==","married":true,"large@odata.type":"Edm.Int64","large":"933311100","other":20,"age@odata.type":"Edm.Int64","age":"39","deceased":false}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      etag: [W/"datetime'2017-09-26T08%3A31%3A26.4825018Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
