interactions:
- request:
    body: '{"TableName": "listtable3f561007"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 10 Nov 2017 00:47:03 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/Tables(''listtable3f561007'')']
      Location: ['https://storagename.table.core.windows.net/Tables(''listtable3f561007'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: '{"TableName": "listtable3f561007"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 10 Nov 2017 00:47:03 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: '{"odata.error":{"code":"TableAlreadyExists","message":{"lang":"en-US","value":"The
        table specified already exists.\nRequestId:d2e62b24-0002-004e-64bd-59669f000000\nTime:2017-11-10T00:47:02.5641097Z"}}}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 409, message: Conflict}
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 10 Nov 2017 00:47:03 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/Tables?%24top=2
  response:
    body: {string: '{"value":[{"TableName":"listtable3f561007"},{"TableName":"table01195b113b204be595f426a2aec78bf6"}]}'}
    headers:
      Content-Type: [application/json;odata=nometadata;streaming=true;charset=utf-8]
      x-ms-continuation-NextTableName: [1!40!dGFibGUzNTg2MTlkMgEwMWQzNTliZDZhMjcxMzlm]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 10 Nov 2017 00:47:03 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/Tables?%24top=2&NextTableName=1%2140%21dGFibGUzNTg2MTlkMgEwMWQzNTliZDZhMjcxMzlm
  response:
    body: {string: '{"value":[{"TableName":"tablede242129942d48a9a6c8fb95a1e0b702"},{"TableName":"uttable147696b0a84b4d129b92e01c32d61e2c"}]}'}
    headers:
      Content-Type: [application/json;odata=nometadata;streaming=true;charset=utf-8]
      x-ms-continuation-NextTableName: [1!76!dXR0YWJsZTI2MGJlZTBmYzkzNjRhMjU4YTdiMGQyYzIzMWFkYzdlATAxZDM1OTk3ZDFhZDU3NzA-]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
