interactions:
- request:
    body: '{"PartitionKey": "003", "RowKey": "batch_all_operations_together-1", "test":
      "true", "test2": "value", "test3": "3", "test3@odata.type": "Edm.Int64", "test4":
      "1234567890", "test4@odata.type": "Edm.Int64", "test5": "2017-10-03T18:55:26Z",
      "test5@odata.type": "Edm.DateTime"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Tue, 03 Oct 2017 18:55:26 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/table9ed31b72
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/table9ed31b72(PartitionKey=''003'',RowKey=''batch_all_operations_together-1'')']
      ETag: [W/"datetime'2017-10-03T18%3A55%3A26.5491529Z'"]
      Location: ['https://storagename.table.core.windows.net/table9ed31b72(PartitionKey=''003'',RowKey=''batch_all_operations_together-1'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
[...]
- request:
    body: '--batch_6b4bfd46-a86c-11e7-ac69-a08cfdf04b77

      Content-Type: multipart/mixed; boundary=changeset_6b4bfd47-a86c-11e7-aa02-a08cfdf04b77


      --changeset_6b4bfd47-a86c-11e7-aa02-a08cfdf04b77

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /table9ed31b72 HTTP/1.1

      Content-ID: 1

      Content-Type: application/json

      Accept: application/json;odata=minimalmetadata

      Prefer: return-no-content

      Content-Length: 272


      {"PartitionKey": "003", "RowKey": "batch_all_operations_together", "test": "true",
      "test2": "value", "test3": "3", "test3@odata.type": "Edm.Int64", "test4": "1234567890",
      "test4@odata.type": "Edm.Int64", "test5": "2017-10-03T18:55:26Z", "test5@odata.type":
      "Edm.DateTime"}


      --changeset_6b4bfd47-a86c-11e7-aa02-a08cfdf04b77

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      DELETE /table9ed31b72(PartitionKey=''003'',RowKey=''batch_all_operations_together-1'')
      HTTP/1.1

      Content-ID: 2

      Accept: application/json;odata=minimalmetadata

      If-Match: *


      --changeset_6b4bfd47-a86c-11e7-aa02-a08cfdf04b77

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      PUT /table9ed31b72(PartitionKey=''003'',RowKey=''batch_all_operations_together-2'')
      HTTP/1.1

      Content-ID: 3

      Content-Type: application/json

      Accept: application/json;odata=minimalmetadata

      If-Match: *

      Content-Length: 275


      {"PartitionKey": "003", "RowKey": "batch_all_operations_together-2", "test":
      "tru[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 03 Oct 2017 18:55:26 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/table9ed31b72()?%24filter=PartitionKey+eq+%27003%27&%24select=
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#table9ed31b72&$select=","value":[{"odata.etag":"W/\"datetime''2017-10-03T18%3A55%3A26.9435295Z''\"","PartitionKey":"003","RowKey":"batch_all_operations_together","Timestamp":"2017-10-03T18:55:26.9435295Z","test":"true","test2":"value","test3@odata.type":"Edm.Int64","test3":"3","test4@odata.type":"Edm.Int64","test4":"1234567890","test5@odata.type":"Edm.DateTime","test5":"2017-10-03T18:55:26Z"},{"odata.etag":"W/\"datetime''2017-10-03T18%3A55%3A26.9009543Z''\"","PartitionKey":"003","RowKey":"batch_all_operations_together-2","Timestamp":"2017-10-03T18:55:26.9009543Z","test":"true","test2":"value","test3@odata.type":"Edm.Int64","test3":"10","test4@odata.type":"Edm.Int64"[...]
